.app {
    height: 100vh;
    .section {
       width: 100%;
       height: calc(100vh - 70px); 
       background: lightseagreen;
       top: 70px;
       position: relative;
       > *{
        height: calc(100vh - 70px); 
        width: 100%;
    }
    }
   
}